.root {
  background-image: url("./assets/nature.jpg");
  background-size: cover;
  background: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.button{
  color:black;
   height: 50px;
  width: 180px;
  border-radius: 15px;
  border-color: red;
}
.button:hover{
  background-color: red;
  color: white;
}
@media (max-width: 480px) {
  .root{
    align-items: flex-start;
    padding-top: 30px;
  }
}
