.root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  color: white;
}

.desktopView {
  visibility: visible;
  }

.mobileView {
  color: red;
  visibility: hidden;
}

@media (max-width: 480px) {
  .root {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .mobileView {
    visibility: visible;
  }

  .desktopView {
    visibility: hidden;
  }
}
